{
  "plugins": [
    "jest"
  ],
  "extends": [
    "airbnb",
    "plugin:jest/recommended"
  ],
  "parser": "babel-eslint",
  "globals": {
    "document": true
  },
  "rules": {
    "strict": 0,
    "import/no-extraneous-dependencies": [
      error,
      {
        devDependencies: true
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}
